@mixin btn{
    display: inline-block;
    border-radius:0.5em;
    background:$btnClr;
    padding:1em;
    color:#fff;
    border:0;
    font-family:'Open Sans', sans-serif;
    font-weight:800;

}
@mixin mq($arg){
    @media(min-width:$arg){
         @content;
    }
}