*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding-left: 0;
}

img {
  max-width: 100;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1.25rem;
}

p {
  font-family: 1rem;
}

@media (min-width: 800px) {
  h1 {
    font-size: 4.5rem;
  }

  h2 {
    font-size: 3.75rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  p {
    font-family: 1.125rem;
  }
}
.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.header {
  background: #750000;
  padding: 1.5em 1em;
  display: flex;
  align-items: flex-start;
  position: fixed;
  width: 100%;
  left: 0;
}
.header .logo__img {
  display: block;
  width: 50px;
  border-radius: 0.4em;
}
.header .nav__bar {
  background: #750000;
  position: fixed;
  left: 0;
  padding: 1em 0;
  top: 0;
  bottom: 0;
  right: 0;
  transform: translateX(-100%);
  transition: transform ease-in 500ms;
}
.header .slide {
  transform: translateX(0%);
}
.header .list {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.header .list__item {
  margin-bottom: 1.5em;
}
.header .list__link {
  color: #f5f5f5;
  font-size: 3rem;
  font-weight: 800;
  position: relative;
}
.header .list__link::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -0.3em;
  height: 3px;
  width: 70%;
  background: #fff;
  border-radius: 0.3em;
  transform-origin: left;
  transform: scale(0, 1);
  transition: transform 200ms ease-in;
}
.header .list__link:hover::after {
  transform: scale(1, 1);
}
.header .toggle {
  position: fixed;
  z-index: 9999;
  top: 2em;
  right: 2em;
  padding: 0.6em;
  background: transparent;
  border: none;
  display: inline-block;
  cursor: pointer;
}
.header .hamburger__menu {
  position: relative;
  display: block;
  border-radius: 0.3em;
  width: 2em;
  height: 3px;
  transition: transform ease-in 200ms;
  background: #f5f5f5;
}
.header .hamburger__menu::before, .header .hamburger__menu::after {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  width: 2em;
  height: 3px;
  border-radius: 0.4em;
  background: #f5f5f5;
}
.header .hamburger__menu::before {
  top: 7px;
  transition: all linear 200ms;
  opacity: 1;
}
.header .hamburger__menu::after {
  bottom: 7px;
}
.header .open {
  transform: rotate(0.625turn);
}
.header .open::after {
  opacity: 0;
}
.header .open::before {
  transform: rotate(90deg) translateX(-6px);
}
@media (min-width: 800px) {
  .header {
    display: flex;
    justify-content: space-between;
  }
  .header .nav__bar {
    all: unset;
    align-self: center;
  }
  .header .toggle {
    display: none;
  }
  .header .list {
    flex-direction: row;
    gap: 1em;
    margin-right: 1em;
  }
  .header .list__item {
    margin-bottom: 0;
    margin-right: 1em;
  }
  .header .list__link {
    font-size: 1.5rem;
  }
}

.btn {
  display: inline-block;
  border-radius: 0.2em;
  background: #267f01;
  padding: 1em;
  color: #fff;
  border: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
}

.home {
  padding: 1em;
  margin: 2em 0;
  color: #333;
}
.home .btn__lg {
  font-size: 2.25rem;
  transition: transform 250ms ease-in-out;
}
.home .btn__lg:hover {
  transform: scale(1.05);
}
.home .button__container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.home .title__text {
  margin-top: 2em;
}/*# sourceMappingURL=style.css.map */