*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  scroll-behavior: auto;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background: #750000;
  border-radius: 0.5em;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding-left: 0;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1.25rem;
}

section {
  color: #333;
  padding: 1em;
  position: relative;
}

p {
  font-family: 1rem;
}

@media (min-width: 800px) {
  h1 {
    font-size: 4.5rem;
  }

  h2 {
    font-size: 3.75rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  p {
    font-family: 1.125rem;
  }
}
.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.title__text {
  text-align: center;
}

::-moz-placeholder {
  font-family: "Open Sans", sans-serif;
}

:-ms-input-placeholder {
  font-family: "Open Sans", sans-serif;
}

::placeholder {
  font-family: "Open Sans", sans-serif;
}

.err {
  color: red;
  font-size: 1rem;
  font-weight: 500;
}

@media (min-width: 1600px) {
  .container {
    max-width: 100%;
  }
}

.header {
  background: #750000;
  padding: 1.5em 1em;
  display: flex;
  align-items: flex-start;
  position: fixed;
  width: 100%;
  left: 0;
  z-index: 99;
  transition: all 250ms ease-in;
}
.header .logo__img {
  display: block;
  width: 50px;
  border-radius: 0.4em;
}
.header .nav__bar {
  background: #750000;
  position: fixed;
  left: 0;
  padding: 0em 0;
  top: 0;
  bottom: 0;
  right: 0;
  transform: translateX(-100%);
  transition: transform ease-in 500ms;
}
.header .slide {
  transform: translateX(0%);
}
.header .list {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.header .list__item {
  margin-bottom: 1.5em;
}
.header .list__link {
  --number:1;
  --number2:0;
  color: #f5f5f5;
  font-size: 1.5rem !important;
  font-weight: 800;
  position: relative;
}
.header .list__link::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -0.3em;
  height: 3px;
  width: 70%;
  background: #f5f5f5;
  border-radius: 0.3em;
  transform-origin: left;
  transform: scale(var(--number2), var(--number));
  transition: transform 200ms ease-in;
}
.header .list__link:hover::after {
  transform: scale(var(--number), var(--number));
}
.header .toggle {
  position: fixed;
  z-index: 9999;
  top: 2em;
  right: 2em;
  padding: 0.6em;
  background: transparent;
  border: none;
  display: inline-block;
  cursor: pointer;
}
.header .hamburger__menu {
  position: relative;
  display: block;
  border-radius: 0.3em;
  width: 2em;
  height: 3px;
  transition: transform ease-in 200ms;
  background: #f5f5f5;
}
.header .hamburger__menu::before, .header .hamburger__menu::after {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  width: 2em;
  height: 3px;
  border-radius: 0.4em;
  background: inherit;
}
.header .hamburger__menu::before {
  top: 7px;
  transition: all linear 200ms;
  opacity: 1;
}
.header .hamburger__menu::after {
  bottom: 7px;
}
.header .open {
  transform: rotate(0.625turn);
  background: #f5f5f5 !important;
}
.header .open::after {
  opacity: 0;
}
.header .open::before {
  transform: rotate(90deg), translateX(-6px);
}
@media (min-width: 800px) {
  .header {
    display: flex;
    justify-content: space-between;
  }
  .header .nav__bar {
    all: unset;
    align-self: center;
  }
  .header .toggle {
    display: none;
  }
  .header .list {
    flex-direction: row;
    gap: 1em;
    margin-right: 1em;
  }
  .header .list__item {
    margin-bottom: 0;
    margin-right: 1em;
  }
  .header .list__link {
    font-size: 1.5rem;
  }
  .header .dark {
    color: #222;
  }
}

.btn {
  display: inline-block;
  border-radius: 0.8em;
  background: #f9b053;
  padding: 0.75em 1em;
  color: #000;
  border: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  min-width: 100px;
  text-align: center;
  transition: transform 350ms ease-in-out;
}
.btn:hover {
  transform: scale(1.05);
}

.spinner {
  position: fixed;
  background: #fff;
  inset: 0;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}
.spinner .loader {
  width: 150px;
  border-radius: 50%;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.home {
  margin: 2em 0 5em 0;
  padding-bottom: 7em;
  color: #333;
}
.home .btn__lg {
  font-size: clamp(1rem, 1.7vw, 2rem);
  transition: transform 350ms ease-in-out;
  margin-bottom: 1em;
}
.home .button__container {
  margin-top: 1.5em;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.home .intro__para {
  font-size: 1.25rem;
  margin-bottom: 1.8em;
  line-height: 1.7;
}
.home .title__text {
  margin: 2em 0 0.4em 0;
  text-align: start;
  max-width: 650px;
  font-size: clamp(2.2rem, 3vw, 3rem);
}

.about {
  margin: 5em 0 1em 0;
  overflow: hidden;
}
.about .about__section > * {
  margin-top: 1em;
  line-height: 1.7;
}
.about .about__section__title {
  background: #750000;
  padding: 0.5em 1em;
  color: #f5f5f5;
  border-radius: 0.2em;
}
.about .profile__img {
  box-shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25), 0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
  border-radius: 0.2em;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}
@media (min-width: 650px) {
  .about .title__text {
    text-align: center;
  }
  .about .about__section {
    display: grid;
    grid-template-columns: 1fr 200px;
    margin: 0 auto;
    max-width: 1000px;
    grid-template-areas: "title img" "para img";
  }
  .about .about__section__title {
    grid-area: title;
    align-self: flex-end;
    position: relative;
    grid-column: 1/-1;
    width: calc(100% + 2em);
    left: -1em;
    z-index: -1;
  }
  .about .about__section__para {
    grid-area: para;
    max-width: 700px;
  }
  .about .profile__img {
    grid-area: img;
    min-width: 200px;
  }
}

.left {
  -webkit-animation: move 750ms ease-in-out backwards;
          animation: move 750ms ease-in-out backwards;
}

.right {
  -webkit-animation: movepic 750ms ease-in-out;
          animation: movepic 750ms ease-in-out;
}

@-webkit-keyframes move {
  0% {
    transform: translateX(-180%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes move {
  0% {
    transform: translateX(-180%);
  }
  100% {
    transform: translateX(0);
  }
}
@-webkit-keyframes movepic {
  0% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes movepic {
  0% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(0);
  }
}
.projects {
  margin: 3em 0;
}
.projects .works {
  margin-top: 1em;
}
.projects .work {
  padding: 1em 1em 1em 1em;
  background: #f5f5f5;
  border-radius: 0.5em;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5em;
  transform-origin: center;
}
.projects .one > * {
  margin-bottom: 1em;
}
.projects li {
  margin-bottom: 0.3em;
  display: inline-block;
  border-radius: 0.8em;
  background: #f9b053;
  padding: 0.75em 1em;
  color: #000;
  border: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  min-width: 100px;
  color: #333;
  max-width: 130px;
  background: white;
  width: 100%;
  margin: 1em;
  border-radius: 0.2em;
}
.projects .button__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
}
.projects .work__para {
  line-height: 1.7;
  margin-top: 1.5em;
  margin-bottom: 1em;
}
.projects .work__img {
  display: block;
  margin: 0 auto;
}
@media (min-width: 900px) {
  .projects .title__text {
    text-align: center;
  }
  .projects .works {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(575px, 1fr));
    gap: 1.3em;
  }
  .projects .work {
    flex-direction: row;
  }
  .projects .one, .projects .two {
    flex-basis: 100%;
  }
  .projects .one {
    align-self: flex-start;
  }
  .projects .work__para {
    max-width: 290px;
    line-height: 1.7;
    height: 190px;
    margin-right: 0.5em;
  }
  .projects .technologies {
    display: flex;
    flex-wrap: wrap;
    gap: 0.8em;
    margin-bottom: 1em;
    margin-top: auto;
  }
  .projects li {
    margin: 0;
  }
}

.grows {
  -webkit-animation: grow 750ms ease-out;
          animation: grow 750ms ease-out;
}

@-webkit-keyframes grow {
  0% {
    transform: scale(0.1, 0.1);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes grow {
  0% {
    transform: scale(0.1, 0.1);
  }
  100% {
    transform: scale(1, 1);
  }
}
.skills {
  margin: 2em 0;
}
.skills .skills__box {
  margin-top: 1.5em;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5em;
  align-items: center;
  justify-content: center;
}
.skills .skill {
  max-width: 150px;
  text-align: center;
  font-weight: 600;
  padding: 1em;
  border-radius: 0.5em;
  box-shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25), 0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: transform 300ms ease-in;
}
.skills .skill:hover {
  transform: translateY(5px);
}
.skills .skill__img {
  min-width: 100px;
  height: 75px;
}

.contact {
  margin: 2em 0;
}
.contact .contact__form {
  margin: 1em auto;
  display: flex;
  flex-direction: column;
  width: min(80%, 650px);
}
.contact .contact__form div {
  margin-bottom: 1em;
}
.contact .contact__form input, .contact .contact__form label {
  display: block;
  font-size: 1.1rem;
}
.contact .contact__form input, .contact .contact__form textarea {
  width: 100%;
  border-radius: 0.3em;
  border: 0;
  padding: 0.75em;
  margin: 0.5em 0 0.5em 0;
  font-size: 1.1rem;
  font-family: "Open Sans", sans-serif;
  background: #d2d2d2;
  outline: 2px solid rgba(117, 0, 0, 0);
  transition: all 350ms ease-in;
}
.contact .contact__form input:focus, .contact .contact__form textarea:focus {
  outline: 2px solid #750000;
}
.contact .contact__form .btn__send {
  align-self: center;
  font-size: 1.2rem;
  cursor: pointer;
  background: #f9b053;
}
.contact .contact__form .social__media {
  margin-top: 1.6em;
  display: flex;
  justify-content: center;
  gap: 1em;
}
.contact .contact__form i {
  color: #333;
}
.contact .contact__form a {
  font-size: 2rem;
}

.footer {
  margin-top: auto;
  background: #750000;
  padding: 4em 1em;
  color: #f5f5f5;
}/*# sourceMappingURL=style.css.map */