@mixin  customBtn {
      background-color: $greenBlue;
      display: inline-block;
      border-radius: 0.5em;
      color: #fff;
      font-family: $paraFont;
      padding: 0.7em 1.5em;
      font-size: 1.1rem;
     
      transition: all 250ms ease-in;
      &:hover{
        
        text-decoration: none;
      }
}

@mixin socialMedia {

    display: flex;
    margin-top: 30px;
    list-style: none;
    justify-content: center;
    gap: 2em;
    img{
        width: 35px;
    }
    a:hover{
      opacity: 0.8;
    }

}